@use '../../../helpers/mixins.scss' as *;

.logo-container {
  z-index: 0;
  width: 400px;
  height: 609px;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;
  opacity: 0;

  @include breakpoints(md) {
    display: block;
    position: relative;
    margin-top: 25%;
    right: auto;
    width: 350px;
    height: 550px;
  }

  @include breakpoints(sm) {
    width: 300px;
    margin-top: 40%;
    height: auto;
  }
  @include breakpoints(xs) {
    width: 250px;
    height: auto;
    margin-top: 50%;
  }
  @include breakpoints(lg-j) {
    width: 350px;
  }

  svg {
    width: 100%;
    height: auto;
    bottom: 0;
    transform: rotateZ(30deg) !important;
  }

  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: 0;
    transform: rotateZ(30deg) !important;
    z-index: 1;
  }
}

.svg-container {
  stroke: orange;
  stroke-width: 10;
}
