@use '../../../helpers/mixins.scss' as *;

.logo-container {
  z-index: 0;
  width: 400px;
  height: 609px;
  position: absolute;
  top: 20%;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;
  animation: scaleAn 6s infinite ease-in-out;

  @keyframes scaleAn {
    50% {
      transform: scale(1.2);
    }
  }

  @include breakpoints(md) {
    display: block;
    position: relative;
    margin-top: 25%;
    right: auto;
    width: 350px;
    height: 550px;
  }

  @include breakpoints(sm) {
    width: 300px;
    margin-top: 40%;
    height: auto;
  }
  @include breakpoints(xs) {
    width: 250px;
    height: auto;
    margin-top: 50%;
  }
  @include breakpoints(lg-j) {
    width: 350px;
  }

  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    transform: rotateZ(-15deg) !important;
    z-index: 1;
    animation: fadeIn 3s;
  }
}
