@use '../../helpers/mixins.scss' as *;

.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;

    @include breakpoints(md) {
      display: block;
      position: relative;
      width: 85%;
      top: 35%;
    }
    @include breakpoints(xs) {
      top: 40%;
    }
  }

  .letter-k {
    width: 50px;
    @include breakpoints(xs) {
      width: 40px;
    }
  }

  h1 {
    color: #fff;
    font-size: 76px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;

    @include breakpoints(sm) {
      font-size: 60px;
    }
    @include breakpoints(lg-j) {
      font-size: 64px;
    }
    @include breakpoints(xs) {
      font-size: 44px;
    }

    &::before {
      content: '<h1>';
      font-family: 'La Belle Aurore';
      color: orange;
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      left: 15px;
      opacity: 0.6;
    }

    &::after {
      content: '</h1>';
      font-family: 'La Belle Aurore';
      color: orange;
      font-size: 18px;
      position: absolute;
      margin-top: 18px;
      margin-left: 20px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }
    img {
      width: 32px;
      margin-left: 20px;
      opacity: 0;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }

  h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;

    @include breakpoints(xs) {
      font-size: 16px;
    }
  }

  .flat-button {
    color: orange;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid orange;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;
    transition: all 0.3s;

    &:hover {
      background: orange;
      color: #333;
    }
  }
}

.bottom-tags-home {
  bottom: 20px;
  @include breakpoints(md) {
    bottom: -40%;
  }
}
