@use '../../helpers/mixins.scss' as *;

.work-page-container {
  @include breakpoints(lg) {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
}

.work-page {
  display: block;
  position: relative;
  height: auto;
  min-height: 300px;

  @include breakpoints(md) {
    min-height: 100px;
    .heading {
      margin-top: 160px;
    }
  }
}

.work {
  margin-left: 120px;
  margin-bottom: 20%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  justify-items: center;
  align-items: center;
  animation: fadeIn 3s forwards 1s;

  @include breakpoints(md) {
    grid-template-columns: repeat(2, 2fr);
    margin-left: 0;
  }
  @include breakpoints(sm) {
    grid-template-columns: 1fr;
  }
  @include breakpoints(lg) {
    grid-template-columns: repeat(2, 2fr);
  }
  @include breakpoints(xl) {
    grid-template-columns: repeat(3, 2fr);
  }
  @include breakpoints(xxl) {
    grid-template-columns: repeat(4, 2fr);
  }
}
